.mocktails-overview {
    display: flex;
    flex-direction: row;
}

.mocktails-overview button {
    width: 200px;
}

.mocktail-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mocktail-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.mocktail-filters-container ul {
    list-style: none;
}

.mocktail-card-container a, .mocktail-card-container a:hover {
    text-decoration: none;
}

