.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FEC36E;
    width: 100%;
    margin: 0;
    padding-bottom: 3rem;
    border: 5px dotted #f89102;
}

.bottom-section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom-section-header {

}